.container{
  width:400px;
}
.score-container{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  width:400px;
}
.canvas-container{
  position:relative;
  width:400px;
  height:400px;
}
canvas{
  position:absolute;
  left:0;
  top:0;
}
button{
  background-color: blue;
  padding: 10px 25px;
  text-align: center;
  font-size: 20px;
  color:white;
  border-radius: 5px;
  border: solid 1px blue;
}
select{
padding:10px 20px;
font-size: 20px;
}
.action-container{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
